.mail-preview {
  background-color: white;
  flex-grow: 1;
  min-width: 400px;

  .thread-wrapper {
    padding: 10px;

    .mail-wrapper {
      .mail-actions {
        float: right;
      }
    }
  }

  .error-wrapper {
    text-align: center;
    padding: 50px 0;
  }

  .empty-wrapper {
    text-align: center;
    padding: 50px 0;
  }
}