.mail-list-item {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  .title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .meta {
    * {
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }
  }
}