@import '../../../style/vars';

.mail-list-item {
  padding: 10px !important;
  cursor: pointer;
  .title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .meta {
    > * {
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }
    .header {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &.new {
    border-left: 5px solid $OceanBlue;
  }
}