@import '../../../style/vars';

.dashboard-header {
  height: 80px;
  background-color: #F5F5F5;
  color: #464646;
  border-bottom: 1px solid $borderColor;

  .logout {
    float: right;
    height: 100%;
    line-height: 80px;
    padding: 0 20px;

    span:last-child {
      cursor: pointer;
    }
  }
}