@import '../../../style/vars';

.sidebar {
  min-width: 200px;
  max-width: 200px;
  padding: 10px 0;
  border-right: 1px solid $borderColor;

  .compose-button-wrapper {
    text-align: center;
    padding: 20px;
    button {
      color: white !important;
      background-color: $accentColor !important;
      font-weight: normal;
      box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
      width: 150px;
      height: 40px;
    }
  }

  .nav-wrapper {
    margin: 0;
    padding: 0;

    a {
      display: block;
      padding: 10px 40px;
      font-size: 1.3rem;
      cursor: pointer;
      color: $textColor;
      opacity: .6;
      margin: 10px 0;
      &:first-of-type {
        margin-top: 10px;
      }
      &:last-of-type {
      }
      &.active {
        opacity: 1;
        border-left: 2px solid $accentColor;
      }
    }
  }
}