@import '../../../style/vars';

.sidebar {
  min-width: 280px;
  max-width: 280px;
  padding: 10px 0;
  border-right: 1px solid $borderColor;

  .compose-button-wrapper {
    text-align: center;
    padding: 30px;
    button {
      color: white !important;
      background-color: $accentColor !important;
      width: 200px;
      height: 50px;
      font-size: 18px;
      font-weight: 400;
      margin: 0;

      &:before {
        display: inline-block;
        content: '';
        width: 22px;
        height: 22px;
        vertical-align: text-bottom;
        margin-right: 10px;
        background-image: url('./assets/icon-compose.svg');
      }
    }
  }

  .nav-wrapper {
    margin: 0;
    padding: 0;

    a {
      display: block;
      line-height: 40px;
      font-size: 18px;
      cursor: pointer;
      color: $textColor;
      opacity: .5;
      padding: 15px 0;
      &:first-of-type {
        margin-top: 10px;
      }
      &.active {
        opacity: 1;
        span {
          border-left: 3px solid $accentColor;
        }
      }
      span {
        display: inline-block;
        padding: 0 40px;
        border-left: 3px solid white;
      }
      & > span:before {
        display: inline-block;
        content: '';
        width: 30px;
        height: 30px;
        vertical-align: middle;
        margin-right: 25px;
        background-image: url('./assets/icon-inbox.svg');

      }
      &.outbox > span:before {
        background-image: url('./assets/icon-outbox.svg');
      }
    }
  }
}