@import '../../../style/vars';

.sidebar {
  min-width: 130px;
  max-width: 130px;
  padding: 10px 0;
  border-right: 1px solid $OceanBlue;

  .compose-button-wrapper {
    text-align: center;
  }

  .nav-wrapper {
    margin: 0;
    padding: 0;

    a {
      display: block;
      padding: 1rem 1rem;
      font-size: 1.3rem;
      cursor: pointer;
      border-top: 1px solid;
      color: $OceanBlue;
      &:first-of-type {
        margin-top: 10px;
      }
      &:last-of-type {
        border-bottom: 1px solid;
      }
      &:active {
        opacity: .8;
      }
    }
  }
}