.melonmail-wrapper {
  height: 100%;

  * {
	outline: none;
    font-family: 'Ubuntu', sans-serif;
  }

  input, button {
    font-family: 'Ubuntu', sans-serif !important;
  }

  @import "style/mixins/mixins";
  @import "style/config/reset";
  @import "style/config/fonts";

  @import "style/components/forms";

  @import "components/Mail/App/index";
  @import "components/Mail/Header/index";
  @import "components/Mail/Sidebar/index";
  @import "components/Mail/MailList/index";
  @import "components/Mail/MailListItem/index";
  @import "components/Mail/MailPreview/index";
  @import "components/Mail/Compose/index";
}

@import "style/components/modal";