$primaryColor: #142242;

$textColor: #272727;

$PrimaryDarkBlue: #142242;
$OceanBlue: #1189C6;
$DarkGrey: #252525;
$LightGrey: #EBEBEB;

$error: #b62626;
$ok: #73b854;

$accentColor: #117EBF;
$borderColor: #D4D4D4;