// Image
i.icon.file.jpg.outline:before,
i.icon.file.jpeg.outline:before,
i.icon.file.png.outline:before,
i.icon.file.gif.outline:before,
i.icon.file.nef.outline:before {
  content: "\f1c5";
}

// Text
i.icon.file.txt.outline:before,
i.icon.file.rtf.outline:before,
i.icon.file.md.outline:before {
  content: "\f0f6";
}

// Word
i.icon.file.doc.outline:before,
i.icon.file.docx.outline:before {
  content: "\f1c2";
}

// Excel
i.icon.file.xls.outline:before,
i.icon.file.xlsx.outline:before {
  content: "\f1c3";
}

// PowerPoint
i.icon.file.ppt.outline:before,
i.icon.file.pptx.outline:before {
  content: "\f1c4";
}

// Archive
i.icon.file.zip.outline:before,
i.icon.file.rar.outline:before,
i.icon.file.gz.outline:before {
  content: "\f1c6";
}

// Audio
i.icon.file.mp3.outline:before,
i.icon.file.m4a.outline:before,
i.icon.file.wav.outline:before {
  content: "\f1c7";
}

// Video
i.icon.file.mp4.outline:before,
i.icon.file.mov.outline:before,
i.icon.file.mkv.outline:before,
i.icon.file.avi.outline:before {
  content: "\f1c8";
}

// Code
i.icon.file.js.outline:before,
i.icon.file.css.outline:before,
i.icon.file.html.outline:before,
i.icon.file.jsx.outline:before,
i.icon.file.php.outline:before,
i.icon.file.go.outline:before,
i.icon.file.json.outline:before {
  content: "\f1c9";
}