@import '../../../style/vars';

.compose-wrapper {
  min-height: 600px;
  background-color: white;

  .inputs-wrapper {
    .ui.input,
    .ui.search > .ui.input {
      display: block;
    }

    input,
    .ui.search > .ui.input > input {
      border: 0;
      border-radius: 0;
      outline: 0;
      height: 50px;
      min-height: 50px;
      padding: 0;
      border-bottom: 1px solid $borderColor;
      color: $textColor;
      box-shadow: 0 0 1px 1px rgba(white, 0);
      transition: all .2s;
      font-size: 16px;
      margin-top: 10px;
      display: block;
      width: 100%;
      &:focus {
        border-color: #999 !important;
        box-shadow: none !important;
      }
    }
    .ui.search {
      &.input-error > .ui.input > input {
        z-index: 1;
        box-shadow: 0 0 1px 1px rgba($error, .5);
        border-color: rgba($error, .5);
      }
      //&.input-ok  > .ui.input > input {
      //  animation: input-ok 2s;
      //  z-index: 1;
      //}
      //@keyframes input-ok {
      //  0% {
      //    box-shadow: 0 0 1px 1px rgba($ok, .5);
      //    border-color: rgba($ok, .5);
      //  }
      //  100% {
      //    box-shadow: 0 0 1px 1px rgba($ok, 0);
      //  }
      //}
    }
    .results {
      margin: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .DraftEditor-root {
      padding: 20px 0;
      overflow: auto;
      font-size: 18px;
      color: #4E4E4E;
      min-height: 300px;
      line-height: 28px;

      &,
      .DraftEditor-editorContainer,
      .DraftEditor-editorContainer .public-DraftEditor-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }

      @import '../../../style/components/emailContent';
    }


    textarea {
      flex-grow: 1;
      border: 0;
      outline: 0;
      padding: 10px;
      resize: none;
      color: $textColor;
    }
  }

  .files-preview{
    .label {
      margin: 0 5px 5px 0;
    }
  }

  .editor-actions {
    .buttons {
      margin-right: 5px;
      button {
        border: 0;
      }
    }
  }

  .compose-footer {
    height: 60px;
    background-color: white;
    line-height: 60px;
    padding: 20px 0;

    .loader {
      margin-right: 10px;
    }

    .status-wrapper {
      float: right;
      line-height: 40px;
      .error {
        color: $error;
      }
    }

    .actions-wrapper {
      display: inline-block;

      * {
        vertical-align: top;
      }

      input[type=file] {
        display: none;
      }
      .attachment-button {
        display: inline-block;
        height: 50px;
        width: 50px;
        background: url('./assets/icon-attachment.svg');
        background-size: 20px;
        background-position: 50%;
        background-repeat: no-repeat;
        margin-left: 10px;
      }
      .trash-button {
        height: 50px;
        width: 50px;
        box-shadow: none !important;
      }
    }
  }
}