@import '../../../style/vars';

.mail-list {
  min-width: 425px;
  max-width: 425px;
  border-right: 1px solid $borderColor;
  overflow: auto;
  height: 100%;
  background-color: #F5F5F5;

  .loader-wrapper {
    position: relative;
    height: 50px;
    padding: 10px;
    text-align: center;
    z-index: 0;
  }

  .no-mails {
    padding: 20px;
    text-align: center;
    opacity: .5;
  }
}