@import '../../../style/vars';

.mail-list {
  min-width: 300px;
  max-width: 300px;
  border-right: 1px solid $OceanBlue;
  overflow: auto;
  height: 100%;

  .loader-wrapper {
    position: relative;
    height: 50px;
    padding: 10px;
    text-align: center;
    z-index: 0;
  }

  .no-mails {
    padding: 20px;
    text-align: center;
    opacity: .5;
  }
}