@import '../../../style/vars';

.mail-list {
  width: 100%;
  max-width: 300px;
  background-color: #eee;
  border-right: 1px solid $OceanBlue;

  .list {
  }

  .loader-wrapper {
    position: relative;
    height: 60px;
  }
}